.values{
    width: 100%;
    height: 771px;
    display: flex;
    flex-direction: column;
    position: relative;


    .backgroundImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-image: linear-gradient(rgba(0,0,0,0.7),#002939),url(../../../assets/values/values.png);
        position: relative;
    }

    .servicesTop{
        display: flex;
        align-items: flex-start;
        justify-content: left;
        position: absolute;
        top: 35px;
        flex: 0.7;
        flex-direction: column;

        .valuesDesc{
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-left: 150px;
            padding-top: 30px;
           line-height: 1.2;

            .title{
                font-size: 24px !important;
                color : #00FFB8 !important;
                
            }
            .subtitle{
                   padding-top: 10px;
                    font-size: 2.5rem;
                    font-weight: bold;
                    color : #FFFFFF
                }
            .divBelowsubtitle{
                margin-left: 30px ;
                margin-top: 20px;
                width: 79px;
                height: 12px;
                background-color: #C13895;
            }

            .descriptionDiv{
                margin-left: 25px;
                padding-top: 50px;
                line-height: 15px;
    
                p{
                    width: 350px;
                    display: flex;
                    align-self: flex-start;
                    line-height: 1.5;
                    color :#FFFFFF;
                    font-size : 1.1rem
                }
            }

            .arrows{
                padding-top: 60px;
                padding-left: 20px;
                
            }


        }
    }

    .servicesBottom{
        display: flex;
        flex: 0.3;
        width: 100%;
        flex-direction: row;
        height: 200px;
        position: absolute;
        padding-top: 550px;
        padding-left: 150px;


        .valuesContainer{
            display: flex;
            flex-direction: column;
            padding: 50px;

            h4{
                color: #FFFFFF;
            }
            h5{
                color: #FFFFFF;
            }
            
        }

        .lineContainer{
            display: flex;
            flex-direction: row;
        }
    }

}