.services{
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    padding-top: 60px;
 
    background-color: #040E56;
    // position: relative;
    // flex: 1;


    
    .servicesContainer{
        padding-left: 150px;
        padding-right: 150px;
        height: 100%;
        display: flex;
        flex-direction: row;
        // gap: 20px;
        
        
        .servicesLeft{
            position: relative;
                .servicesbannerImg{
                   width: 694px;
                   height: 955px;
                   top: 0;
                   object-position: 0 , 2055 ;
                   position: absolute;
                   z-index: 0;
               }
                display: flex;
                align-items: flex-start;
                margin-top: 150px;
                // flex : 0.5;
                flex-direction: column;
                z-index: 1;
                // position: absolute;
                // left: 100px;
                width: 100%;

                .title{
                    color : #FFFF;
                }
                .subtitle{
                    color: #FFFF;
                    font-size: 2.9rem;
                    font-weight: bold;
                }
                .divBelowsubtitle{
                    margin-top: 30px;
                    width: 76px;
                    height: 2px;
                    background-color: #C13895;
                }
                .descriptionDiv{
                    display: flex;
                    align-items: start;
                    margin-right: 50px;
                    // justify-content: flex-start;
                    
                    .desc{
                        color: #FFFF;
                        text-align: start;
                        padding-top: 20px;
                        line-height: 33px;
                        font-size: 1.2rem;
                        width: 90%;
                        display: flex;
    
                    }
                }
            }
            .servicesRight{
                display: flex;
                // flex: 0.5;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                // padding-left: 40px;
                gap: 18px;
                // padding-left: 30px;
        
                .containerOne{
                    display: flex;
                    flex-direction: column;
                    width: 320px;
                    height: 800px;
                    gap: 20px;
        
                    .box1{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 390px;
                        height: 388px; 
                        background-color: #477DFF;
                        
                        .logo{
                            padding-top: 50px;
                            padding-bottom: 20px;
                            padding-left: 60px;
                            width: 70px;
                            height: 70px;
                            
                        }
        
                        .title{
                            text-transform: uppercase;
                            color: #FFFFFF;
                            font-size: 1.7rem;
                            letter-spacing: 3px;
                             padding-left: 60px;
                            padding-right: 60px;
        
                        }
        
                        .desc{
                            text-align: start;
                            color: #FFFFFF;
                            font-size: 1.2rem;
                            padding-left: 60px;
                            padding-right: 60px;
                        }
                    }
        
                    .box2{
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        width: 390px;
                        height: 388px;
                        background-color: #56FFBD;
        
                        .logo{
                            padding-top: 50px;
                            padding-bottom: 20px;
                            padding-left: 60px;
                            width: 70px;
                            height: 70px;
                            color: #FFFFFF;
                        }
        
                        .title{
                            text-transform: uppercase;
                            color: #020E5A;
                            font-size: 1.7rem;
                            letter-spacing: 3px;
                             padding-left: 60px;
                            padding-right: 60px;
                        }
        
                        .desc{
                            text-align: start;
                            color: #020E5A;
                            font-size: 1.2rem;
                            padding-left: 60px;
                            padding-right: 60px;
                        }
                    }
                }
        
                .containerTwo{
                    display: flex;
                    flex-direction: column;
                    width: 320px;
                    height: 800px;
                    padding-top: 100px;
                    padding-left: 90px;
                    gap: 18px;
        
        
                    .box3{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                       width: 390px;
                        height: 388px;
                        background-color: #56FFBD;
        
                        .logo{
                            padding-top: 50px;
                            padding-bottom: 20px;
                            padding-left: 60px;
                            width: 70px;
                            height: 70px;
                        }
        
                        .title{
                            text-transform: uppercase;
                            color: #020E5A;
                            font-size: 1.7rem;
                            letter-spacing: 3px;
                             padding-left: 60px;
                            padding-right: 60px;
                        }
        
                        .desc{
                            text-align: start;
                            color: #020E5A;
                            font-size: 1.2rem;
                            padding-left: 60px;
                            padding-right: 60px;
                        }
                    }
        
                    .box4{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        width: 390px;
                        height: 388px;
                        margin-top: 20px;
                
                        background-color: #56FFBD;
        
                        .logo{
                            padding-top: 50px;
                            padding-bottom: 20px;
                            
                            padding-left: 60px;
                            width: 70px;
                            height: 70px;
                        }
        
                        .title{
                            text-transform: uppercase;
                            color: #020E5A;
                            font-size: 1.7rem;
                            letter-spacing: 3px;
                             padding-left: 60px;
                            padding-right: 60px;
                        }
        
                        .desc{
                            text-align: start;
                            color: #020E5A;
                            font-size: 1.2rem;
                            padding-left: 60px;
                            padding-right: 60px;
                        }
                    }
                }
                
        
            }

   }

}


@media (min-width : 760px) and (max-width: 1500px) {
   
    .services .servicesContainer{
        padding-left: auto;
        padding-right: auto;
        
        .servicesLeft{
            .descriptionDiv{
                margin-right: 0px;

                .desc{
                    width: 76%;
                    line-height: 23px;
                }
            }
        }

        .servicesRight{
            padding-right: 120px;
            .containerOne{
                width: 260px;

                .box1{
                    width: 330px;
                }

                .box2{
                    width: 330px;
                }

                
            }
            
            .containerTwo{
                width: 220px;
                .box3{
                    width: 330px;
                }
    
                .box4{
                    width: 330px;
                }
            }
        }

        
    }
    
}