.leadershipDetails {
  width: 100%;
  height: 800px;

  .leadershipDetailsContainer {
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .leadershipDetailsTop {
      display: flex;
      // flex: 0.6;
      flex-direction: column;

      .headlines {
        // flex: 0.2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
          font-size: 24px !important;
          color: #817f7f !important;
        }

        .subtitle {
          font-size: 2.5rem;
          font-weight: bold;
          color: #020e5a;
        }
        .divBelowsubtitle {
          margin-top: 30px;
          width: 76px;
          height: 2px;
          background-color: #c13895;
        }
      }

      .desc {
        width: 100%;
        flex: 0.6;
        display: flex;
        flex-direction: row;
        text-align: start;
        margin-top: 40px;

        .descImg {
          flex: 0.3;
          padding-left: 350px;

          .leader {
            width: 260px;
            height: 350px;
          }
        }

        .descList {
          flex: 0.3;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          // font-size: 1.2rem;
          text-align: start;
          padding-left: 30px;

          .title {
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #317fff;
            margin-bottom: -30px;
          }

          .desc {
            text-transform: uppercase;
            // letter-spacing: 2px;
            font-size: 1rem;
          }

          .paragraph {
            padding-top: 10px;
            font-size: 0.6rem;
          }
        }
      }
    }

    .leadershipDetailsMiddle {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0.1;
      padding-top: 30px;

      .barImg {
        width: 650px;
        height: 5px;
      }
    }

    .leadershipBottom {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0.3;

      .carousalContainer {
        margin: 20px;
        
        
        // .selectedItem{
            
            // }
            
            .carousal {
            display: flex;
          position: relative;
          align-items: center;


          .carousal__images {
            display: flex;
            max-width: 100%;
            overflow-x: hidden;
            cursor: pointer;

            .carousalItems {
              display: flex;
              flex-direction: column;
              position: relative;
            //   align-items: center;
              text-align: start;
            //   justify-content: center;

              .carousal__image {
                margin-right: 10px;
                height: 170px;
                min-width: 150px;
                border: 3px solid #ffa70000;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
              }

              h5{
                position: absolute;
                margin-left: 20px;
                padding-top: 100px;
                text-transform: uppercase;
                font-size: 0.7rem;
                color: white
              }

              .imagedesc{
                position: absolute;
                margin-left: 20px;
                padding-top: 135px;
                // text-transform: uppercase;
                font-size: 0.5rem;
                color: #5BF0D9
              }



            }

            .carousel__image-selected {
              border: 3px solid #ffa700 !important;
            }

            .carousal_buttons {
              position: absolute;
              top: 40%;

              .carousel__button-left {
                position: relative;
                right: 50px;
                width: 21px;
                height: 38px;
              }
              
              .carousel__button-right {
                position: relative;
                left: 490px;
                width: 21px;
                height: 38px;
              }
            }
          }
        }
      }
    }
  }
}
