.flipped {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  flex: 1;

  .flippedContainer {
    margin-left: 90px;
    margin-right: 90px;
    // height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 60px;

    .flippedLeft {
      display: flex;
      flex: 0.5;
      // align-items: center;
      // justify-content: center;
      // // position: relative;
      // flex-direction: column;

      .descbannerImg {
        width: 554px;
        height: 755px;
        // object-position: 0 , 2055 ;
        z-index: 0;
      }
    }

    .flippedRight {
      margin-left: 150px;
      display: flex;
      flex: 0.5;
      align-items: flex-start;
      flex-direction: column;

      .title {
        font-size: 24px !important;
        color: #817f7f !important;
      }
      .subtitle {
        font-size: 2.5rem;
        font-weight: bold;
        color: #020e5a;
      }
      .divBelowsubtitle {
        margin-top: 30px;
        width: 76px;
        height: 2px;
        background-color: #c13895;
      }

      .descriptionDiv {
        display: flex;
        align-items: start;
        flex-direction: column;
        text-align: start;

        desc {
          padding-top: 20px;
          font-size: 1rem;
          width: 75%;
          display: flex;
        }
      }

      .roleBtn {
        // margin-left: 30%;
        width: 353px;
        height: 54px;
        background-color: #d22599;
        color: #ffff;
        border: none;
        border-radius: 70px;
        margin-top: 70px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
