.partners{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    background-color: #DFDFE0;
    flex: 1;

    .partnersleft{
    
        display: flex;
        flex: 0.3;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 150px;

        .partnersDesc{
            // z-index: 1;
            // position: "absolute";
           padding-top : 250;
           left : 150;
           line-height: 0.7;
           align-content: flex-start;
           flex-direction: column;
        //    z-index: 1;

            .title{
                font-size: 24px !important;
                color : #727272 !important;
                
            }
            .subtitle{
                padding-top: 10px;
                    font-size: 2.5rem;
                    font-weight: bold;
                    color : #020E5A
                }
            .divBelowsubtitle{
                margin-left: 110px ;
                margin-top: 20px;
                width: 79px;
                height: 12px;
                background-color: #C13895;
            }

            .descriptionDiv{
                margin-left: 25px;
                padding-top: 120px;
                line-height: 15px;
    
                p{
                    display: flex;
                    align-self: flex-start;
                    line-height: 1.5;
                    color : 'black';
                    font-size : 1.1rem
                }
            }


        }
    }
    .partnersRight{
    
        display: flex;
        flex: 0.7;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .containerOne{
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 400px;
            padding: 25px;

            .box1{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 250px;
                height: 350px;
                position: relative;
                // background-color: #477DFF;

                .boxImg{
                    width: 100%;
                    height: 100%;
                    display: flex;

                  
                }
            }

            .box2{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 250px;
                height: 350px;
                background-color: white;
            }


    }
}
}