.partners{
    width: 100%;
    height: 800px;
    // display: flex;
    // flex-direction: row;
    background-color: #DFDFE0;
    position: relative;
    // flex: 1;

    .partnersContainer{
        margin-left: 150px;
        margin-right: 150px ;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 60px;
        // flex: 1;

        .partnersLeft{
            display: flex;
            align-items: flex-start;
            margin-top: 150px;
            // flex : 0.4;
            flex-direction: column;
            z-index: 1;
            position: absolute;
            // margin-left: -650px;
            width: 470px;

            .title{
                color : #817F7F;
            }
            .subtitle{
                color: #020E5A;
                font-size: 2.9rem;
                font-weight: bold;
            }
            .divBelowsubtitle{
                margin-top: 30px;
                width: 76px;
                height: 2px;
                background-color: #C13895;
            }
            .descriptionDiv{
                display: flex;
                align-items: start;
                line-height: 33px;
                margin-right: 50px;
                // justify-content: flex-start;
                
                .desc{
                    color: 'black';
                    text-align: start;
                    padding-top: 20px;
                    font-size: 1.2rem;
                    width: 100%;
                    display: flex;

                }

            }
        }

        .partnersRight{
            margin-top: 150px;
            display: flex;
            // flex: 0.6;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-left: 750px;
            position: absolute;
    
            .containerOne{
                display: flex;
                flex-direction: column;
                width: 390px;
                height: 800px;
                padding: 25px;
                gap: 0px;
    
                .box1{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 390px;
                    height: 300px;
                    position: relative;

                    // background-color: #477DFF;
    
                    .boxImg{
                        width: 90%;
                        height: 320px;
                        display: flex;
                        background-image: linear-gradient(rgba(0,0,0,0.7),#477DFF);
    
                      
                    }
                }
    
                .box2{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 90%;
                    height: 150px;
                    // height: 150px;
                    background-color: white;
                }
    
    
        }
    }
    }

}

@media (min-width : 960px) {
    .partnersContainer{
        padding-left: auto;
        padding-right: auto;

        .partnersRight{
            padding-left: auto;

            .containerOne{
                padding: auto;
            }
        }
    }
    
}

