.bannercomponent{
    width: 100%;
    height: 1080px;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 4;


    .backgroundimg{
        height: 1050px;
        width: 100%;
        object-fit: cover;
        position: relative;
        
    }

    h1{
        top: 490px;
        font-size: 75px;
        color: #FFFF;
        position: absolute;
        line-height: 3;
    }
       
        h4{
            color: #FFFF;
            top: 750px;
            font-size: 24px;
            position: absolute;
            color: #00FFB8;
    
        }
        .icon{
            position: absolute;
            width: 26px;
            height: 40px;
            top: 920px;
        }




    


}