.bannercomponent {
  width: 100%;
  height: 1080px;
  flex-direction: column;
  background-color: transparent;
  // position: relative;
  // display: flex;
  // flex: 1;

  // .top {
  //   position: relative;
  //   display: flex;
  //   flex: 0.1;
  //   flex-direction: row;
  //   z-index: 1;

  //   .navbar {
  //     overflow: hidden;
  //     width: 100%;
  //     height: 85px;
  //     box-sizing: border-box;

  //     .navContainer {
  //       display: flex;
  //       flex: 1;
  //       background-color: transparent;

  //       .logoContainer {
  //         flex: 0.3;
  //         display: flex;
  //         justify-content: center;

  //         .logo {
  //           padding-top: 20px;
  //           width: 120px;
  //           height: 40px;
  //         }
  //       }

  //       .linksContainer {
  //         padding-bottom: 20px;
  //         padding-left: 90px;
  //         flex: 0.7;
  //         display: flex;
  //         text-transform: uppercase;
  //       //   align-items: center;
  //       //   justify-content: center;

  //         .links {
  //           text-decoration: none;
  //           list-style: none;

  //           h4 {
  //           //   margin: 40px;
  //             font-size: 13px;
  //             font-weight: normal;
  //             cursor: pointer;
  //             color: #ffffff;
  //             text-decoration: none;
  //           }
  //         }

  //         .links:hover {
  //           h4 {
  //             color: #bd3b98;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .bottom {
    display: flex;
    z-index: 0;
    // flex: 0.9;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // top: -80px;
    // position: absolute;

    .backgroundimg {
      height: 1050px;
      width: 120%;
      object-fit: cover;
      // position: relative;
    }

    h1 {
      top: 490px;
      font-size: 75px;
      color: #ffff;
      position: absolute;
      line-height: 3;
    }

    h4 {
      color: #ffff;
      top: 790px;
      font-size: 24px;
      position: absolute;
      color: #00ffb8;
    }
    .icon {
      position: absolute;
      width: 26px;
      height: 40px;
      top: 920px;
    }
  }
}


@media (min-width : 789px) and (max-width: 1400px) {

  .bannercomponent{
    width: 100%;
    height: auto !important;
    padding-bottom: 40px !important;

    .bottom{
      display: flex;
      z-index: 0;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // top: -80px;
      // position: absolute;

      .backgroundimg{
        height: 750px !important;
        width: 100% !important;
        object-fit: cover;
      }

      h1{
        top: 230px !important;
        position: absolute;
        font-size: 45px;
        line-height: 1;
      }

      h4{
        top: 280px !important;
        font-size: 20px;
      }

      .icon{
        width: 20px;
        height: 30px;
        top: 360px !important;
      }
    }
  }


  
}

@media (min-width : 320px) and (max-width: 790px) {

  .bannercomponent{
    width: 100%;
    padding-bottom: 40px !important;
    height: 500px !important;
    flex-direction: column;
  background-color: transparent;
  // position: relative;

    .bottom{
      display: flex;
      z-index: 0;
      gap: 10px !important;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // top: -80px;
      position: absolute;

      .backgroundimg{
        height: 450px !important;
        width: 100% !important;
        object-fit: cover;
        // position: relative;
      }

      h1{
        gap: 2px !important;
        top: 230px !important;
        position: absolute;
        font-size: 15px !important;
        line-height: 0.2px !important;
      }

      h4{
        top: 380px !important;
        font-size: 15px;
      }

      .icon{
        width: 10px;
        height: 10px;
        top: 340px !important;
      }
    }
  }
  
}
