.dropdown-menu{
    // margin-right: 90px;
    width: 550px;
    position: absolute;
    left: 530px;
    top: 85px;
    height: 370px;
    background: rgb(22,22,21);
    background: radial-gradient(circle, rgba(53, 53, 52, 0.895) 100%, rgba(200,201,175,1) 100%);
    list-style: none;
    text-align: center  ;
    z-index: 3;
    font-size: 1.2rem;

    li{
        padding-top: 10px;
        flex:2;
        border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        list-style: none;
        height: 50px;
        /* background: #1888ff; */
        // background: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
        padding-right: 0px;
        cursor: pointer;
        display: flex;

        // align-items: center;
        text-align: start;
        flex-direction: column;
        z-index: 13;
        font-size: 15px;

        .dropdown-link {
             color: #FFFFFF;
            display: block;
            height: 100%;
            width: 100%;
            background-color: none;
            text-decoration: none;

            /* color: #fff; */
            padding: 15px;
          }

        .dropdown-link:hover{
            color: #00FFB8;


        }
    }

    li:hover {
        background: none;
        text-decoration-style: solid;
        text-decoration: underline;
        list-style: none;
        text-underline-position:above;
        height: 50px;
        list-style: none;
        color: #00FFB8;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 3px;
        z-index: 13;
      }


}

.dropdown-menu-clicked{
    display: none;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }