.subservicesdesc{
    width: 100%;
    height: 1550px;
    position: relative;
    
    
    .subservicesContainer{
        // width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        // gap: 40px;
        flex: 1;
        margin-left: 150px;
        margin-right: 150px;
        // border: 1px solid black;
        // padding-top: 30px;
        
        .subservicesLeft{
            display: flex;
            flex: 0.3;
            
            .container{
                width: 100%;
                padding-top: 10px;
                // width: 90%;
                // height: 90%;
                // border-radius: 1px solid black;
                .box{
                    display: flex;
                    flex-direction: row;
                    align-items: center;    
                    margin-top: 60px;
                    width: 379px;
                    height: 205px;
                    margin-left: -30px;
                    // border: 1px solid black;
                    
                    .boxleft{
                        display: flex;
                        width: 150px;
                        height: 100%;
                        padding-top: 130px;
                        padding-left: 30px;
    
                        .icons{
                            width: 65px;
                            height: 60px;
                        }
                    }
                    
                    .boxright{
                        width: 230px;
                        // background-color: #0623D9;
                        display: flex;
                        height: 100%;
                        padding-top: 60px;
                        padding-left: 30px;
    
                        p{
                            flex-direction: column;
                            font-weight: bold;
                            // padding-left: 15px;
                            padding-right: 25px;
                            font-size: 1.5rem;
                            text-transform: uppercase;
                            color: #FFFF;
                            
                        }
                    }
                    
                    
                }
            }
            
        }
        
        .subservicesRight{
            display: flex;
            padding-right: 690px;
            flex: 0.7;
            width: 100%;
            // background-color: red;
            .container1{
                display: flex;
                flex-direction: column;
                padding-top: 55px;
                border-radius: 1px solid black;
                // width: 350px;
                // width: auto;
                
                .box1{
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    // justify-content: center;    
                    margin-top: 10px;
                    width: 150%;
                    height: 255px;
                    margin-left: 50px;
                    text-align: start;
                    padding: 2px;
                    // border: 1px solid;

                        .line{
                        // margin-left: 730px;
                        width: 100%;
                        height: 3px;
                    }
        
                    p{
                        width: 100%;
                        // margin-left: 730px;
                        font-size: 0.9rem;
        
                    }

                    .roleBtn {
                        margin-top: 20px;
                        // margin-left: 3%;
                        // margin-top: -150px;
                        width: 163px;
                        height: 38px;
                        background-color: #d22599;
                        font-size: 1.2rem;
                        color: #ffff;
                        border: none;
                        border-radius: 70px;
                        border: none;
                        cursor: pointer;
                      }

                    }
                }
    
            }
        // }
        
    }

    
}

@media (min-width : 760px) and (max-width: 1500px) {
    .subservicesdesc .subservicesContainer{
        margin-left: 100px;
        margin-right: 100px;
        // padding-left: auto;
        // padding-right: auto;

        

       
    }

    .subservicesRight {
        padding-right: 290px;
        .container1 .box1{
            
          width: 200% !important
             
            
        }
    }
    


    
}