.homeCareers{
     width: 100%;
     height: auto;
     padding-bottom: 55px;
     background-color: #FFFFFF;
     display: flex;
    flex-direction: row;
    flex: 1;

    .homeCareersContainer{
        padding-left: 150px;
        padding-right: 150px;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 30px;
        // flex: 1;
    }

    .homecareersLeft{
        display: flex;
        margin-top: 80px;
        // flex: 0.6;

        .leftImg{
            width: 605px;
            height: 665px;
            z-index: 1;
            // position: relative;

            object-position: 200 , 1195;

        }


    }
    .homecareersRight{
        display: flex;
        align-items: flex-start;
        margin-top: 80px;
        padding-left: 115px;
        // flex : 0.4;
        flex-direction: column;
        width: 100%;

        .title{
            color : #817F7F;
        }
        .subtitle{
            color: #020E5A;
            font-size: 2.9rem;
            line-height: 62px;
            font-weight: bold;
        }
        .divBelowsubtitle{
            margin-top: 30px;
            width: 76px;
            height: 2px;
            background-color: #C13895;
        }
        .descriptionDiv{
            display: flex;
            align-items: start;
            // justify-content: flex-start;
            
            .desc{
                text-align: start;
                padding-right: 40px;
                padding-top: 20px;
                font-size: 1.2rem;
                width: 95%;
                display: flex;
                flex-direction: column;
                justify-content: stretch;

            }


        }

        .roleBtn{
            width:260px ;
             height:64px;
             background-color: #D22599;
             color: #FFFF;
             border: none;
             font-size: 1.2rem;
            border-radius:70px;
            margin-top:30px ;
            border:none;
            cursor: pointer;
        }
        
        
    }
}

@media (min-width : 960px) {
    .homeCareersContainer{
        padding-left: auto;
        padding-right: auto;
    }
    
}