.homeCareers{
     width: 100%;
     overflow-x: hidden;
     height: auto;
     padding-bottom: 55px;
     background-color: #FFFFFF;
     display: flex;
    flex-direction: row;
    flex: 1;

    .homeCareersContainer{
        padding-left: 150px;
        padding-right: 150px;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 30px;
        // flex: 1;
    }

    .homecareersLeft{
        display: flex;
        margin-top: 80px;
        // flex: 0.6;

        .leftImg{
            width: 605px;
            height: 665px;
            z-index: 1;
            // position: relative;

            object-position: 200 , 1195;

        }


    }
    .homecareersRight{
        display: flex;
        align-items: flex-start;
        margin-top: 80px;
        padding-left: 115px;
        // flex : 0.4;
        flex-direction: column;
        width: 100%;

        .title{
            color : #817F7F;
        }
        .subtitle{
            color: #020E5A;
            font-size: 2.9rem;
            line-height: 62px;
            font-weight: bold;
        }
        .divBelowsubtitle{
            margin-top: 30px;
            width: 76px;
            height: 2px;
            background-color: #C13895;
        }
        .descriptionDiv{
            display: flex;
            align-items: start;
            // justify-content: flex-start;
            
            .desc{
                text-align: start;
                padding-right: 40px;
                padding-top: 20px;
                font-size: 1.2rem;
                width: 95%;
                display: flex;
                flex-direction: column;
                justify-content: stretch;

            }


        }

        .roleBtn{
            width:260px ;
             height:64px;
             background-color: #D22599;
             color: #FFFF;
             border: none;
             font-size: 1.2rem;
            border-radius:70px;
            margin-top:30px ;
            border:none;
            cursor: pointer;
        }
        
        
    }
}

@media (min-width: 710px) and (max-width : 1400px) {
    .homeCareers .homeCareersContainer{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;

        .homecareersLeft{
            // padding-left: 120px;
        // padding-right: 120px;
            .leftImg{
                object-fit: contain;
                width: 450px;
                height: 420px;
            }
        }

        .homecareersRight{
          width: 90%
        }
    }
   
}


@media (max-width: 700px){
    .homeCareers .homeCareersContainer{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
        align-items: center;
        justify-content: center;

        .homecareersLeft{
           align-items: center !important;

            .leftImg{
                object-fit: contain;
                width: 280px;
                height: 280px;
            }
        }

        .homecareersRight{
            width: 90%;
            // padding-left: 20px;
            .subtitle{
                font-size: 2rem;
            }

            .desc{
                text-align: justify;
            }
        }


    }
}